footer {
  padding: 100px 0;

  .contact {
    margin: 0;
  }
  .footer-head {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 18px;
  }
  .menu li {
    font-size: 16px;
  }

  .contact-header {
    text-align: center;
    font-weight: 600;
    margin-bottom: 30px;
    font-size: 38px;
  }

  .contact-socials {
    display: flex;
    justify-content: center;
  }

  .contact-socials a {
    font-size: 30px;
    margin: 0 10px;
  }

  .contact-socials a:hover {
    color: var(--grey);
  }

  .subscribe {
    position: relative;
    margin-top: 20px;
  }

  .subscribe input {
    width: 100%;
    height: 50px;
    outline: 0;
    border: 0;
    padding: 0 10px;
  }

  .subscribe button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    outline: 0;
    border: 0;
    background-color: var(--red);
    color: var(--btn-color);
    padding: 10px;
    text-transform: uppercase;
  }

  .subscribe button:hover {
    background-color: var(--black);
  }
}

@media screen and (max-width: 700px) {
  footer {
    padding: 50px 0px;
  }
}
