.category-filter {
  margin-bottom: 35px;

  .filter-header {
    display: block;
    margin: 20px 0;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 15px;
  }

  .filter-list > li {
    margin-bottom: 15px;
    font-size: 14px;
    cursor: pointer;
  }

  .filter-list > li.active {
    color: red;
    margin-left: 10px;
    transition: all 0.3s ease-in-out;
    font-weight: 600;
  }

  .filter-select {
    width: 70%;
    padding: 8px 0;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
  }

  .price-range {
    display: flex;
    align-items: center;
  }

  .price-range input {
    width: 70%;
    outline: none;
    padding: 5px 0px;
  }
}

@media only screen and (max-width: 750px) {
}
