h2 {
  line-height: 25px;
  margin-bottom: 15px;
  font-size: 17px;
}

.card {
  border: 1px solid #ccc;
  padding: 5px;
  background-color: #f5f6fa;
}

.card1 {
  border-bottom: 4px solid #b624ff;
}
.card2 {
  border-bottom: 4px solid #1f93ff;
}
.card3 {
  border-bottom: 4px solid orangered;
}

.card4 {
  border-bottom: 4px solid rgb(44, 152, 111);
}
