.charts {
  width: 100%;
  max-width: 500px;
  padding: 2rem;
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow: hidden;

  h3 {
    font-size: 18px;
  }
}
